<div></div>
  <h1>Welcome to Notes App, {{firstName}}!</h1>
  <p>We're excited to have you onboard. Start organizing your thoughts and ideas with ease. Click the link below to get started:</p>
  <a href="{{url}}">Start Taking Notes</a>
</div>